<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Secret Website</title>
	</head>
	<body>
		<main class="relative min-h-screen w-screen overflow-x-hidden">
			<slot />
		</main>
	</body>
</html>

<style>
	/* html,
	body {
		position: relative;
		min-height: 100vh;
		width: 100vw;
		overflow-x: hidden;
	} */
</style>
